body {
 background-color:#111111;
}

h1 {
 color:#ddcccc;
}

p {
 color:#eeeeee;
}

 /* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: #8888EE;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
} 

#header {
 position:absolute;
 top:5px;
 left:10%;
 right:10%;
 border-style: outset;
 border-color: #333399;
 border-radius: 5px;
 background-color:#222288;
 font-size: 20px;
 color: #ddcccc;
 text-indent: 10px;
}

#main {
 position:absolute;
 top:140px;
 left:20%;
 width: 75%;
 background-color:#222222;
 border-radius: 5px;
 text-indent: 20px;
}

#side {
 position:absolute;
 top: 10%;
 left: 1%;
 width: 13%;
 background-color:#332222;
 border-style: outset;
 border-color: #333399;
 border-radius: 5px;
 color: #ddcccc;
 text-indent: 10px;
}
