body {
 background-color:#111111;
 font-family: sans-serif;
}

h1 {
 color: #ddcccc;
}

p {
 color: #eeeeee;
}

a:link {
    color: #8888ee;
    text-decoration: none;
}

a:visited {
    color: #8888ee;
    text-decoration: none;
}

a:hover {
    color: #ffa0cc;
    text-decoration: none;
}

a:active {
    color: #ff00ff;
    text-decoration: none;
} 

#logo {
 position: absolute;
 top: 5px;
 left: 1%;
 height: 55px;
 width: 120px;
 border-style: outset;
 background-color: #332222;
 border-style: outset;
 border-color: #333399;
 border-radius: 5px;
 color: #ddcccc;
 text-align: center;
}

#header {
 position: absolute;
 top: 5px;
 left: 10%;
 right: 10%;
 height: 55px;
 border-style: outset;
 border-color: #333399;
 border-radius: 5px;
 background-color:#222288;
 font-size: 20px;
 color: #ddcccc;
 text-indent: 10px;
}

#side {
 position: absolute;
 top: 10%;
 left: 1%;
 width: 13%;
 background-color: #332222;
 border-style: outset;
 border-color: #333399;
 border-radius: 5px;
 color: #ddcccc;
 text-indent: 10px;
}

#main {
 position: absolute;
 top: 140px;
 left: 20%;
 width: 75%;
 background-color: #222222;
 border-radius: 5px;
 text-indent: 20px;
}

